*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/shared/build
/.idea
/androidApp/build
*.hprof
/iosApp/iosApp.xcodeproj/xcuserdata/s.xcuserdatad/xcschemes/xcschememanagement.plist
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/s.xcuserdatad/UserInterfaceState.xcuserstate
